* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
}

ul,
ol {
    list-style: none;
}

img {
    width: 20px;
    margin-left: 8px;
}

ul li {
    display: inline-block;
}

.canvasBroad {
    /* background: #293937; */
}

.canvas_broad {
    width: 300px;
    height: 150px;
    box-sizing: border-box;
    background: #293937;
    margin: 16px;
    position: relative;
}

.canvas_broad img {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.btnBar {
    width: 100%;
    height: 50px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.btnBar>ul>li {
    margin: 0 1rem;
    cursor: pointer;
}

.btnBar>ul li span {
    display: block;
    color: #fff;
    border: none;
}

#regain {
    color: #999;
}

#rescind {
    color: #999;
}

.btnBar>ul li .active {
    color: rgb(48, 235, 194);
}

.ico_Du {
    width: 8px;
    height: 8px;
    vertical-align: middle;
}

.brushPopup {
    width: 220px;
    display: none;
    background: rgb(40, 40, 40);
    color: #FFF;
    position: absolute;
    bottom: 50px;
    left: 0px;
}

.eraserPopup {
    width: 80px;
    display: none;
    background: #000;
    padding: 12px;
    color: #FFF;
    position: absolute;
    bottom: 50px;
    left: 0px;
}

.eraserPopup ul {
    display: flex;
    justify-content: space-around;
}

.eraserPopup .iserasure {
    color: rgb(48, 235, 194);
}

.colorbox,
.sizebox {
    display: flex;
    align-items: center;
    margin: 10px;
}

.colorList>li {
    margin-left: 3px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 3px black;
    cursor: pointer;
}

.colorList .active {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    box-shadow: 0px 0px 4px rgb(14, 167, 206);
    border: 1px solid rgb(5, 199, 118);
}

.sizesList>li {
    margin-left: 3px;
    box-shadow: 0px 0px 3px black;
    background: white;
    cursor: pointer;
}

.sizesList .active {
    box-shadow: 0px 0px 4px rgb(14, 167, 206);
    border: 1px solid rgb(5, 199, 118);
}

.small {
    width: 8px;
    height: 8px;
    border-radius: 4px
}

.medium {
    width: 10px;
    height: 10px;
    border-radius: 5px;
}

.max {
    width: 12px;
    height: 12px;
    border-radius: 6px;
}

.white {
    background: white;
}

.black {
    background: black
}

.red {
    background: red
}

.orange {
    background: orange
}

.blue {
    background: blue
}

.xiangpica {
    cursor: url('ico/icon-rubber2.cur'), auto;
}
.white_cursor{cursor: url('ico/chalk.cur'),auto;}
.black_cursor{cursor: url('ico/chalk_black.cur'),auto;}
.red_cursor{cursor: url('ico/chalk_red.cur'),auto;}
.orange_cursor{cursor: url('ico/chalk_yellow.cur'),auto;}
.blue_cursor{cursor: url('ico/chalk_blue.cur'),auto;}

.rightBar {
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
}

.rightBar li {
    display: flex;
}

.rightBar li img {
    display: block;
}

.Broadnumber {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 8px;
    border: 1px solid #FFF;
    color: #FFF;
    font-size: 12px;
    text-align: center;
    vertical-align: top;
}

.broadList {
    display: none;
    width: 350px;
    height: 99%;
    padding: 20px;
    overflow-y: hidden;
    background: rgb(241, 241, 240);
    position: absolute;
    top: 0;
    right: 0;
}

.headline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

}

.headline p {
    font: 18px;
    color: #000;
}

.imgList {
    width: 100%;
    height: 80%;
    overflow-y: auto;
}

.imgList .active {
    border: 5px solid steelblue;
}

.canvas_broad .canvas_broad_del{
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.canvas_broad .canvas_broad_index{
    width: 60px;
    height: 32px;
    background: url('./ico/tag_blue.png');
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
}

.footerBtn {
    width: 60%;
    padding: 10px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 254, 250);
    box-shadow: 0px 0px 4px rgb(14, 167, 206);
}

.footerBtn span {
    color: rgb(103, 206, 175);
}

.move {
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 50px;
    left: 0;
    right: 0;
    display: none;
}
.confirm-warp {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
}
.confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    background: #fff;
    width: 300px;
    padding-bottom: 10px;
}
.confirm * {
    box-sizing: border-box;
}
.confirm .content {
    padding: 10px 15px;
    color: #606266;
    font-size: 14px;
    display: flex;
    align-items: center;
}
.confirm .content .warn{
    width: 24px;
    height: 24px;
    color: #e6a23c;
    margin-right: 12px;
    fill: currentColor;
}
.confirm .content .warn svg {
    width: 24px;
    height: 24px;
}
.confirm .header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.confirm .header .close {
    width: 16px;
    height: 16px;
    color: #909399;
    fill: currentColor;
    cursor: pointer;
}
.confirm .header .close svg {
    width: 16px;
    height: 16px;
}
.confirm .btns {
    display: flex;
    justify-content: flex-end;
    padding: 5px 15px 0;
}

.confirm .btns .btn{
    height: 32px;
    padding: 9px 15px;
    font-size: 12px;
    color: #606266;
    border: 1px solid #dcdfe6;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 3px;
}
.confirm .btns .btn:hover {
    background: #ecf5ff;
    color: #409eff;
    border-color: #c6e2ff;
}
.confirm .btns .btn.sure {
    margin-left: 10px;
    background: #ecf5ff;
    color: #409eff;
    border-color: #b3d8ff;
    
}
.confirm .btns .btn.sure:hover {
    color: #fff;
    background: #409eff;
    border-color: #409eff;
}