:root {
    --el-color-primary: #4b71ee;
    --app-color-primary: #4b71ee;
    --app-color-dark: #19203D;
    --app-color-orange : #FF7802;
    --app-color-text-default: #5F626F;
    --app-color-border-default: #F3F4F4;
    --app-color-border-grey: #E0E2E7;
    --app-color-red: #FF6B6B;
}