:root {
    --el-color-primary: #4b71ee;
    --app-color-primary: #4b71ee;
    --app-color-dark: #19203D;
    --app-color-orange : #FF7802;
    --app-color-text-default: #5F626F;
    --app-color-border-default: #F3F4F4;
    --app-color-border-grey: #E0E2E7;
    --app-color-red: #FF6B6B;
    --app-color-disabled-red: #f9b3b3;

    --app-resource-degree-easy: #3AD393;
    --app-resource-degree-middle: #FF7A03;
    --app-resource-degree-difficult: #E0200C;
    --app-resource-type-jiaoan: #3AD393;
    --app-resource-type-daoxuean: #7B59FF;
    --app-resource-type-kejian: #4B71EE;
    --app-resource-type-weikeshipin: #FF5E3D;
    --app-resource-type-zuoye: #00ADFF;
    --app-resource-type-dianzikeben: #30D7CF;
    --app-resource-type-jiaoju: #FAB51B;
    --app-resource-type-gongju: #727EA8;
    --app-resource-type-sucai: #FF8686;
    --app-resource-type-qita: #BFC6D2;
}